@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* 컨테이너 설정으로 중앙정렬 및 반응형 웹 구현 */
.container {
  max-width: 1280px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

/* header 영역 작성 */
header {
  background-color: #f2e9d8;
  margin: 0 auto;
}

.navigation-bar {
  background-color: #f2e9d8;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 130px;
  height: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links span {
  width: 43px;
  height: 20px;
  margin: 0 15px;
}
.download-btn {
  width: 140px;
  height: 50px;
  margin-left: 49px;
  border-radius: 40px;

  color: white;
  background-color: #d97652;
}
.header-content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.header-text-section {
  font-size: 16px;
  text-align: left;
}
.header-text-section h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;

  margin-top: 200px;
}
.header-text-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  margin-top: 40px;
}
.header-text-section button {
  margin-top: 40px;
  margin-left: 0;
}
.header-image-section img {
  width: 100%;
  max-width: 490px;
  height: 890px;
}

/* Body 영역 총 BodyFirst, BodySecond,BodyThird,subscribe 4가지 영역을 구분  */

/* BodyFirst */
.BodyFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BodyFirst img {
  width: 690px;
  height: 390px;
  object-fit: cover;
  /* img를 꽉차게 하고싶은데 안됨.ㅠㅠ */

  margin-top: 80px;
  margin-right: 110px;
}

.bodyfirst-text-section h1 {
  width: 510px;
  height: 135px;

  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.bodyfirst-text-section p {
  width: 510px;
  height: 40px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  margin-top: 30px;
}
/* Body Second */
.bodysecond div {
}

.bodysecond-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}

.bodysecond-text-section h4,
.bodysecond-text-section p,
.bodysecond-text-section span {
  text-align: center;
  width: 100%;
}

.bodysecond-text-section {
  margin-top: 120px;
  text-align: center;
}
.bodysecond-text-section h4 {
  width: 875px;
  height: 60px;

  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #d97652;
}
.bodysecond-text-section p {
  width: 710px;
  height: 42px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  margin-top: 40px;
  margin-bottom: 88px;
}
.bodysecond-text-section span {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #d97652;
}
.bodysecond-image-section span {
  width: 1278px;
  margin-top: 88px;
  margin-bottom: 100px;
}

.frame3,
.frame4 {
  height: 378px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 72px;
}
.frame3 img,
.frame4 img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}

.frame5 {
  width: 290px;
  height: 108px;

  margin: 28px auto 100px auto;
  text-align: center;
}

.frame5 p {
  width: 290px;
  height: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.frame5 button {
  width: 143px;
  height: 50px;

  border-radius: 40px;
  color: #fff;
  background: #d97652;
  margin-top: 28px;
}
.hr {
  width: 1278px;
  height: 1px;
  color: #c4c4c4;
}
.BodyThird h2 {
  width: 263px;
  height: 45px;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;

  margin-top: 63px;
  margin-bottom: 20px;
}
.BodyThird p {
  width: 395px;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;

  margin-bottom: 48px;

  color: #606367;
}
.map {
  width: 1278px;
  height: 520px;

  gap: 0px;
  border-radius: 12px;
}
.subscribe {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);

  width: 1280px;
  height: 200px;

  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #263140;
  color: #fff;
}
.sub-text-group {
  width: 471px;
  height: 100px;
  margin: 50px 0 51px 58px;
  text-align: left;
}
.sub-text-group h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-right: 23px;
}
.sub-text-group p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.sub-email-group {
  width: 530px;
  height: 60px;
  position: relative;
  display: flex;
}
.sub-email-group input {
  width: 530px;
  border-radius: 60px;
  background: url(img/mail.png) no-repeat 28px center;
  background-size: 24px;
  padding-left: 68px;
  margin-right: 58px;

  background-color: #fff;
  font-size: 16px;
}
.sub-email-group button {
  width: 135px;
  height: 50px;

  position: absolute;
  border-radius: 40px;
  top: 5px;
  bottom: 5px;
  right: 64px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #d97652;
}
.sub-img {
  width: 1920px;
  height: 340px;
  margin: 0 auto;
}
/* 푸터 스타일 */
.footer-div {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  width: 226px;
  height: 70px;
}
.footer-icons img {
  width: 228px;
  height: 42px;
  cursor: pointer;
}
