@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: "Pretendard";
}

/* header 영역 작성 */
header {
    background-color: #f2e9d8;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 0;

    /* 카카오 맵이 z-index를 가져와서 */
    z-index: 1000;
}

/* header bar 부분 */
.header-bar {
    width: 100%;
    max-width: 1240px;

    display: flex;
    justify-content: space-between;
    padding: 26px 20px;
}

.logo {
    width: 130px;
    height: 40px;
}

/* 초기 상태 */
.side-bar {
    display: none;

    width: 32px;
    height: 32px;

    background-image: url(img/menu.png);
    background-size: cover;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    cursor: pointer;
}

.close-btn {
    display: none;

    width: 32px;
    height: 32px;

    /* 베경 이미지 */
    background-image: url(img/arrow-right.png);
    background-size: cover;

    /* 위치 지정 */
    position: absolute;
    top: 22px;
    left: 20px;
    cursor: pointer;
}

.top-nav-element {
    display: flex;
    align-items: center;
}

.nav-links a {
    width: 43px;
    height: 20px;
    margin: 0 15px;
}

.download-btn {
    width: 140px;
    height: 50px;
    margin-left: 49px;
    border-radius: 40px;

    color: white;
    background-color: #d97652;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .header-bar {
        width: 350px;
        padding: 24px 20px;
    }

    .logo {
        width: 92px;
        height: 28px;
    }

    .side-bar {
        display: flex;
    }

    .close-btn {
        display: inline;
    }

    .navigation-bar {
        width: 100%;
        max-width: 350px;
    }

    /* 슬라이스 메뉴 CSS */
    .top-nav-element {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 289px;
        background-color: white;
        flex-direction: column;
    }

    .top-nav-element.show {
        /* navigater show를 block.. */
        display: block;
        right: 0;
        width: 289px;
        background-color: #263140;
    }

    .nav-links {
        margin-top: 120px;
        margin-left: 50px;
    }

    .nav-links a {
        display: block;
        width: auto;
        height: 20px;

        /* 메뉴 클릭시 변경 사항 */
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: white;

        margin: 0px;
        margin-bottom: 30px;
    }

    .top-nav-element .download-btn {
        margin-left: 40px;
        margin-top: 20px;
    }
}

#header {
    height: 818px;
    background-color: #f2e9d8;
    display: flex;
    justify-content: center;
}

/* header-content 부분 */
.header-content {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    background-color: #f2e9d8;
}

.header-text-section {
    font-size: 16px;
    text-align: left;
}

.header-text-section h1 {
    width: 695px;
    height: 120px;

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

    margin-top: 200px;
}

.header-text-section p {
    width: 420px;
    height: 86px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin-top: 40px;
}

.header-text-section button {
    margin-top: 40px;
    margin-left: 0;
}

.header-image-section img {
    width: 415px;
    height: 788px;
    margin-top: 32px;
}

/* header 모바일 웹 화면 구상 */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-text-section {
        text-align: center;
    }

    .header-text-section h1 {
        width: 251px;
        height: 90px;

        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-top: 20px;
    }

    .header-text-section p {
        width: 270px;
        height: 98px;
        top: 236px;
        left: 57px;

        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 30px;
    }

    .header-text-section button {
        width: 114px;
        height: 40px;
        padding: 11px 24px 11px 24px;
        margin-top: 30px;
        border-radius: 40px;
    }

    .header-image-section img {
        width: 197px;
        height: 422px;
        top: 434px;
        left: 98px;
        margin-top: 30px;
    }
}

/* Body 영역 총 BodyFirst, BodySecond,BodyThird,subscribe 4가지 영역을 구분  */

/* BodyFirst */
.BodyFirst {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BodyFirst img {
    width: 690px;
    height: 390px;
    object-fit: cover;

    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;

    margin-top: 80px;
    margin-right: 110px;
}

.bodyfirst-text-section {
    width: 510px;
    text-align: left;
}

.bodyfirst-text-section h1 {
    height: 135px;

    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.bodyfirst-text-section p {
    height: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin-top: 30px;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .BodyFirst {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .BodyFirst img {
        width: 326px;
        height: 190px;

        margin: 40px 32px;
    }

    .bodyfirst-text-section {
        width: 326px;
        text-align: left;
    }

    .bodyfirst-text-section h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;

        height: 90px;
    }

    .bodyfirst-text-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        height: 36px;
    }
}

/* Body Second */
.bodysecond-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    margin-top: 120px;
}

.bodysecond-text-section {
    text-align: center;
}

.bodysecond-text-section h4 {
    width: 875px;
    height: 60px;

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #d97652;
}

.bodysecond-text-section p {
    width: 710px;
    height: 42px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin-top: 40px;
    margin-bottom: 88px;
}

.bodysecond-text-section span {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #d97652;
}

.bodysecond-image-section span {
    width: 1278px;
    margin-top: 88px;
    margin-bottom: 100px;
}

.frame3,
.frame4 {
    height: 378px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.frame3 img,
.frame4 img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.frame5 {
    width: 290px;
    height: 108px;

    margin: 28px auto 100px auto;
    text-align: center;
}

.frame5 span {
    width: 290px;
    height: 30px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.frame5 button {
    width: 143px;
    height: 50px;

    border-radius: 40px;
    color: #fff;
    background: #d97652;
    margin-top: 28px;
}

.hr {
    width: 1278px;
    height: 1px;
    color: #c4c4c4;
}

/* Body second 모바일 웹 환경 */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .bodysecond-text-section {
        text-align: center;
        margin-top: 60px;
    }

    .bodysecond-text-section h4 {
        width: 326px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }

    .bodysecond-text-section p {
        width: 326px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .bodysecond-image-section div {
        width: 326px;
        display: inline;
    }

    .frame3,
    .frame4 {
        display: block;
    }

    .frame3 img,
    .frame4 img {
        width: 326px;
        height: 326px;
        margin: 32px 32px 0 32px;
    }

    .frame5 {
        width: 218px;
        margin: 60px auto;
    }

    .frame5 span {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }
}

/* Body Third */
.bodythird h2 {
    width: 268px;
    height: 45px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

    margin-top: 63px;
    margin-bottom: 20px;
}

.bodythird p {
    width: 395px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    margin-bottom: 48px;

    color: #606367;
}

#map {
    width: 100%;
    max-width: 1280px;
    border-radius: 12px;
}

/* Body third 모바일 웹 환경 */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .bodythird {
        width: 100%;

        max-width: 326px;
        margin: 0 auto;
    }

    .bodythird-text-section h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }

    .bodythird-text-section p {
        /* width 100% 가 매우 중요 */
        width: 100%;

        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}

/* subscribes */
.subscribe {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 100%;
    max-width: 1280px;
    height: 200px;

    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #263140;
    color: #fff;
}

.sub-text-group {
    height: 100%;
    height: 99px;

    text-align: left;
}

.sub-text-group h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-right: 23px;
}

.sub-text-group p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.sub-email-group {
    width: 530px;

    height: 60px;
    position: relative;
    display: flex;
}

.sub-email-group input {
    width: 100%;

    border-radius: 60px;
    background: url(img/mail.png) no-repeat 28px center;
    background-size: 24px;
    padding-left: 68px;

    background-color: #fff;
    font-size: 16px;
}

.sub-email-group button {
    width: 135px;
    height: 50px;

    position: absolute;
    border-radius: 40px;
    top: 5px;
    bottom: 5px;
    right: 6px;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #d97652;
}

.sub-img img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    background: #f2e9d899;
}

/* subscribe 모바일 웹 환경 */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .subscribe {
        width: 100%;
        max-width: 326px;

        min-height: 348px;

        display: flex;
        flex-direction: column;
        transform: translate(-50%, 20%);
    }

    .sub-text-group {
        height: auto;
        text-align: left;
        margin: 36px 32px 30px 32px;
    }

    .sub-text-group h3 {
        width: 100%;
        max-width: 187px;

        height: 60px;

        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;

        margin-bottom: 18px;
        margin-right: 23px;
    }

    .sub-text-group p {
        height: 72px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .sub-email-group {
        height: auto;
        width: 262px;

        display: block;
        position: static;
        margin: 0 auto;
    }

    .sub-email-group input {
        width: 214px;
        height: 40px;
        background-size: 18px;
        padding-left: 48px;
        background-position: 16px center;

        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }

    .sub-email-group button {
        width: 115px;
        margin-top: 20px;
        height: 40px;

        border-radius: 40px;
        color: #fff;
        background-color: #d97652;

        font-size: 14px;
        font-weight: 700;
        line-height: 18px;

        position: static;
        float: right;
        margin-bottom: 20px;
    }

    .sub-img img {
        width: 100%;
        height: 240px;

        background-position: center;
    }
}

/* scroll-top-btn */
#scroll-top-btn {
    position: fixed;

    bottom: 19px;
    right: 23px;

    width: 50px;
    height: 50px;

    background-image: url(img/scroll-top-btn.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;

    display: none;
}

#scroll-top-btn:hover {
    background-image: url(img/scroll-top-btn2.png);
}

#scroll-top-btn.show {
    display: block;
}

#modalContainer {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#modalPanel {
    background-image: url(img/modal-background.png);
    background-size: cover;

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#modalContainer.hidden {
    display: none;
}

#modalPanel img {
    width: 110px;
    height: 112px;
    margin-top: 60px;
}

#modalPanel h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 24px;

    color: #d97652;
}

#modalPanel p {
    width: 365px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    margin-top: 12px;
}

#modalPanel button {
    width: 183px;
    height: 50px;
    top: 310px;
    left: 205px;
    padding: 15px 29px 15px 29px;
    gap: 10px;
    border-radius: 40px;

    color: #fff;
    background-color: #d97652;

    margin-top: 38px;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .scroll-top-btn {
        width: 40px;
        height: 40px;
    }

    #modalPanel {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f2e9d8;
    }

    #modalPanel img {
        width: 60px;
        height: 62px;
        margin-top: 40px;
    }

    #modalPanel h3 {
        width: 126px;
        font-size: 24px;
        line-height: 30px;
    }

    #modalPanel p {
        width: 189px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 10px;
    }

    #modalPanel button {
        width: 158px;
        height: 40px;
        padding: 11px 24px;
        gap: 10px;
        margin-top: 28px;
    }
}

/* 푸터 스타일 */
.footer-div {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 226px;
    height: 70px;
}

.footer-icons img {
    width: 228px;
    height: 42px;
    cursor: pointer;
}

.footer-menu {
    display: none;
    width: 84px;
    height: 120px;

    color: #767676;

    position: relative;
}

.footer-menu a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .footer-div {
        height: 178px;
        display: inline-block;
        /* absolute를 이해해버림 */
        position: relative;
    }

    .footer-logo img {
        width: 112px;
        height: 34px;
        position: absolute;
        top: 32px;
        left: 20px;
    }

    .footer-icons img {
        width: 176px;
        height: 32px;
        position: absolute;
        left: 20px;
        bottom: 24px;
        cursor: pointer;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 285px;
        gap: 16px;
        text-align: right;
    }
}
